body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/*h1 {
	color: yellow;
}*/

.bodycontent {
	height:1000px;
	color: yellow;
	margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-bottom: 25px;
}